*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@font-face {
    font-family: Avenir;
    src: url('../Avenir/AvenirRegular/AvenirRegular.ttf');
}
body{
    font-family:Avenir;
    width:100%;
    height:500svh;
}
main{
    display:flex;
    flex-direction:column;
    align-items:center;
}
header{
    margin: auto;
    text-align: center;
}
.header-container
{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap: 20px;
}