*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Avenir;
    src: url('../Avenir/AvenirRegular/AvenirRegular.ttf');
}
body{
    font-family:Avenir;
    width:100%;
}
main{
    display:grid;
    grid-template-columns: 1fr 1fr;
   
}
.content-sec
{
    padding:64px 0 64px 64px;
}
.main-content
{
    margin:55px 0px 70px 0px;
    gap:32px;
}
.main-content h1{
    font-family:'Avenir';
    font-size: 64px;
    font-weight: 800;
}
.main-content p{
    font-family:'Avenir';
    font-size: 24px;
    font-weight: 400;
    margin: 32px 0px;
}
.btn
{

 display:flex;
 gap:16px;
}
.btn button
{
    padding:24px 48px;
    border-radius: 16px;
   
}
.btn .b1{
    background-color: #050505;
     font-family:'Avenir';
    font-size: 24px;
    color: aliceblue;
}
.btn .b2{
    background-color:white;
      font-family:'Avenir';
    font-size: 24px;
}
.icon
{
    display: flex;
    gap:8px;
    justify-content: space-evenly;
    border:1px solid black;
    border-radius: 24px;
    padding: 24px;
}
.icon p
{
       font-family:'Avenir';
    font-size: 16px;
    padding-right: 12px;
    
}
.icon div{
    margin-left: 20px;
}
.Image-sec
{
    position: relative;
    margin: 62px 50px 50px 0px;
    background-color: aquamarine;
}
.bground:nth-child(1)
{
    position: absolute;
    left:120px;
    top:90px;
    z-index: 2;
}
.bground:nth-child(3)
{
    position: absolute;
    top:59px;
    left: 52px;
    z-index: 0;

}
.bground:nth-child(2)
{
    position: absolute;
   bottom: 0px;
  top:33%;
    z-index:1;

}
.bground:nth-child(4)
{
    position: absolute;
    z-index:3;
    left:-13px;
    top:0;
   
}
.Image-sec button
{
    background-color: blueviolet;
    padding: 16px 24px;
    color: white;
    border-radius: 16px;
    border: none;
}
.bground:nth-child(5)
{
    position: absolute;
    z-index:4;
   bottom:199px;
   left:32px;
}

.bground:nth-child(6)
{
    position: absolute;
    z-index:5;
   right:0;
   top:136px;
}