*
{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family:Avenir;
     src: url('Avenir/AvenirRegular/AvenirRegular.ttf');
}
body{
     font-family: Avenir;
    color: #252525;
}
main{
    display:grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    height:100vh;
    
    width:95%;
    margin-left:50px;   
}
section
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:16px;
    margin: auto;
}

h1{
     font : 'AvenirRegular.ttf';
    font-size: 72px;
   padding: 64px 520px 64px 0;
}

.num-sec
{
    font-size: 40px;
    opacity:35%;
}
p{
    font-size: 24px;
    opacity: 80%;
    margin: 12px 0px 24px 0px;
}
.img-sec>img
{
    width:90%;
}
.img-sec{
    position: relative;
}

.img-txt h6{
    font-size: 24px;
}
.img-txt p{
    font-size: 16px;
}
.img-txt
{
     width:90%;
     position: absolute;
     top:68%;   
     display:none;
    background-image: linear-gradient(to right,rgba(0, 0, 0, 10%) ,rgba(0, 0, 0, 49%));
}