*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
@font-face {
      font-family: Avenir;
    src: url('Avenir\AvenirRegular\ AvenirRegular.ttf');
}
body{
    color:black;
    height:500px;
}
section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 500px 500px 500px; 
    justify-content:space-around;
    width:90%;
    gap:24px;
    margin: 50px auto auto auto;
}
h1{
    margin:64px 800px 0px 64px;
    font-size: 88px;
    font-family:Avenir\AvenirHeavy;
}
section p{
    font-size:24px;
    font-family: Avenir\AvenirLight;
    margin: 15px 5px 15px 0px;
    color:#252525;
    width:90%;
    opacity:80%;
}
.sec-num
{
    font-size: 32px;
    opacity:55%;
}