body {
    font-family: 'Work Sans';font-size: 22px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #9C2004,#AB2706);
  padding:60px 60px 0;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1100px;
  width: 100%;
  gap: 40px;
}

/* IMAGE SIDE */
.hero-image {
  position: relative;
  flex:1;
   aspect-ratio:16/9;
}

.hero-image img {
  
  width: 100%;
  max-width: 400px;
  position: relative;
  z-index: 2;
}

.circle {
  position: absolute;
  width: 400px;
  height: 400px;
  /* background: #fcbf49; */
 /* // border-radius: 50%; */
  top:0%;
  left:0%;
  /* transform: translate(-50%, -50%); */
  z-index: 1;
}

/* CONTENT SIDE */
.hero-content {
  flex: 1;
  color: white;
}

.hero-content h1 {
  font-size: 5.5rem;
  line-height: 1.2;
  margin-bottom: 20px;
}

.hero-content p {
  margin-bottom: 20px;
  color: #f1f1f1;
}

.hero-content button {
  padding: 12px 30px;
  border: none;
  border-radius: 25px;
  background: #fcbf49;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

/* 🔥 RESPONSIVE */
@media (max-width: 768px) {
  .hero-container {
    flex-direction: column;
    text-align: center;
  }

  .circle {
    width: 200px;
    height: 200px;
    left: 50%;
  }

  .hero-content h1 {
    font-size: 2rem;
  }
}