*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container
{
    display: flex;
    padding: 4rem 4rem 0;
   background: linear-gradient(295.04deg, #9C2004 5.77%, #AB2706 97.94%);

}
@font-face {
    font-family: Work Sans;
    src: url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
}
.header
{
    border:5px solid black;
    max-width:400px;
    margin:53.5px 0 70px 50px;
  
}
h1{
    color:white;
    font-size: 88px;
}
p{
font-size: 24px;
line-height: 32px;
padding:40px 0;
 color: #FFFFFF;

}
button{
    background: #FFFFFF;
    color: #9C2004;
    border: none;
    padding: 32px 56px;
    font-size: 18px;
    cursor: pointer;
     text-align: center;
     transition: 0.3s;
}
button:hover{
    background: #9C2004;
    color: #FFFFFF;
}
